// sub_top ---------------------------------
.rolling_item {
  width: 35rem;
  aspect-ratio: 1 / 1;
  background-color: var(--main-purple-1);

  &:nth-child(4n) {
    background-color: var(--main-green-1);
  }
  &:nth-child(5n) {
    background-color: var(--main-orange-1);
  }
}

// first_section ---------------------------------
.first_section {
  padding-top: 0;
  position: relative;

  .bg_top {
    width: 15%;
    aspect-ratio: 0.5 / 1;
    border: 1px solid var(--main-blue-1);
    border-radius: 0 50rem 50rem 0;
    position: absolute;
    left: 0.1rem;
    top: 0;
    z-index: -1;
  }

  .first_box {
    & > div {
      width: 50%;
      aspect-ratio: 1 / 1;

      &.left {
        border-radius: 0 50rem 50rem 0;
        background-color: var(--main-blue-1);
      }

      &.right {
        background-color: var(--gray-2);
        padding: 3rem;
      }
    }
  }
}

// sec_sections ---------------------------------
.sec_sections {
  .sec_box {
    flex-wrap: wrap;
    gap: 3rem;

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        width: 49%;
        aspect-ratio: 1 / 1;
      }

      &:first-of-type {
        & > div {
          &:first-of-type {
            background-color: var(--main-blue-1);
          }
        }
      }

      &:nth-of-type(2) {
        & > div {
          &:last-of-type {
            background-color: var(--main-green-1);
          }
        }
      }

      &:last-of-type {
        & > div {
          &:first-of-type {
            background-color: var(--sub-blue-1);
          }
        }
      }
    }
  }
}

// third_section ---------------------------------
.third_section {
  .third_box {
    aspect-ratio: 1 / 0.5;
    background-color: var(--main-blue-1);
    border-radius: 50rem;

    .top_box {
      margin: 0;
    }
  }
}

// fourth_section ---------------------------------
.fourth_section {
  background-color: var(--main-green-1);
  padding-bottom: 0;

  .fourth_box {
    aspect-ratio: 1 / 0.5;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  // sub_top ---------------------------------
  .rolling_item {
    width: 25rem;
  }

  // first_section ---------------------------------
  .first_section {
    .first_box {
      flex-wrap: wrap;
      gap: 1rem;

      & > div {
        width: 100%;
      }
    }
  }

  // sec_sections ---------------------------------
  .sec_sections {
    .sec_box {
      gap: 1rem;

      .row {
        width: 100%;
        flex-wrap: wrap;

        & > div {
          width: 100%;
        }

        &:nth-of-type(2) {
          flex-wrap: wrap-reverse;
        }
      }
    }
  }

  // third_section ---------------------------------
  .third_section {
    .third_box {
      aspect-ratio: 1 / 1.5;
    }
  }
}
