// search_box
.search_box {
  width: 50rem;
  margin: 0 auto;
  border: 3px solid var(--black);
  border-radius: var(--br-50);
  padding: 0 2rem;
  box-sizing: border-box;

  .inp_box {
    width: calc(100% - 5rem);
  }

  .btn_search {
    margin: 0;
    padding: 0 !important;
    width: 4.4rem;

    svg {
      font-size: var(--fs-36);
    }
  }
}

// project_list
.project_list {
  flex-wrap: wrap;
  gap: 3rem;

  a {
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
    width: calc((100% / 5) - 3rem);
    aspect-ratio: 1 / 1;
    border-radius: var(--br-50pro);
    border: 1px solid #333;

    p {
      width: 100%;
    }
  }

  p {
    width: 100%;
    text-align: center;
  }
}
