.btn_top {
  position: fixed;

  button {
    aspect-ratio: 1 / 1;
    padding: 0.7rem !important;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.topLeft {
    left: 7rem;
    top: 7rem;
  }

  &.topRgiht {
    right: 7rem;
    top: 7rem;
  }
  &.bottomLeft {
    left: 7rem;
    bottom: 7rem;
  }
  &.bottomRight {
    right: 7rem;
    bottom: 7rem;
  }
}
