.btn_top {
  position: fixed;

  button {
    aspect-ratio: 1 / 1;
    padding: 0.7rem !important;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.topLeft {
    left: 7rem;
    top: 7rem;
  }

  &.topRgiht {
    right: 7rem;
    top: 7rem;
  }
  &.bottomLeft {
    left: 7rem;
    bottom: 7rem;
  }
  &.bottomRight {
    right: 7rem;
    bottom: 7rem;
  }
}

@media screen and (max-width: 640px) {
  .btn_top {
    button {
      padding: 0.5rem !important;
    }

    &.topLeft {
      left: 2rem;
      top: 2rem;
    }

    &.topRgiht {
      right: 2rem;
      top: 2rem;
    }
    &.bottomLeft {
      left: 2rem;
      bottom: 2rem;
    }
    &.bottomRight {
      right: 2rem;
      bottom: 2rem;
    }
  }
}
