.search_bg {
  width: 100%;

  height: 0;

  overflow: hidden;

  background: #1111112e;

  z-index: -1;

  position: absolute;

  left: 0;

  top: 129px;

  transition: all 0.3s;

  &.open {
    height: calc(100vh - 129px);
  }

  .search_wrap {
    width: 100%;

    padding: 3rem 5rem 7.5rem;

    box-sizing: border-box;

    background: var(--info01);

    & > button {
      display: block;

      margin-left: auto;

      font-size: var(--fs-42);

      &:hover {
        color: var(--mblue03);
      }
    }

    .search_box {
      width: 100rem;

      margin: 0 auto;

      h3 {
        font-size: var(--fs-30);

        font-weight: bold;

        color: var(--mblue03);

        margin-bottom: 2rem;

        padding-left: 2rem;
      }

      .search_input_box {
        width: 100%;

        position: relative;

        span {
          display: inline-block;

          width: 10.6rem;

          height: 8rem;

          position: absolute;

          top: -6.6rem;

          right: 20%;

          z-index: 9;

          img {
            width: 100%;

            height: 100%;
          }
        }
      }
    }
  }
}

// 반응형 ------------------------------------------------------

@media screen and (max-width: 1532px) {
  .search_bg {
    top: 121px;

    &.open {
      height: calc(100% - 121px);
    }

    .search_wrap {
      padding: 2.5rem 5rem 6.5rem;

      & > button {
        font-size: var(--fs-40);
      }

      .search_box {
        .search_input_box {
          span {
            display: inline-block;

            width: 10rem;

            height: 7.5rem;

            position: absolute;

            top: -6.6rem;

            right: 20%;

            z-index: 9;

            img {
              width: 100%;

              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .search_bg {
    .search_wrap {
      padding: 2rem 5rem 4.5rem;

      & > button {
        display: block;

        margin-left: auto;

        font-size: var(--fs-42);

        &:hover {
          color: var(--mblue03);
        }
      }

      .search_box {
        width: 100%;

        h3 {
          font-size: var(--fs-28);

          margin-bottom: 2rem;

          padding-left: 2rem;
        }

        .search_input_box {
          width: 100%;

          position: relative;

          span {
            display: inline-block;

            width: 10.6rem;

            height: 8rem;

            position: absolute;

            top: -6.6rem;

            right: 20%;

            z-index: 9;

            img {
              width: 100%;

              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search_bg {
    display: none;
  }
}
