// 애니메이션 ---------------------------------
@mixin aniSetting($name) {
  animation-name: $name;
  // 시작되기 전이나 끝나고 난 후 어떤 값 적용
  // animation-fill-mode: forwards;
  // 종료 후 다시 처음부터 시작할지 역방향으로 진행할지
  animation-direction: alternate;
  // 몇번 진행
  animation-iteration-count: infinite;
  // 진행 속도
  animation-duration: 1s;
  // 애니메이션 속도
  animation-timing-function: ease-in-out;
}

@keyframes upDownAni {
  0% {
    margin-top: 2rem;
  }
  100% {
    margin-top: 4rem;
  }
}

@keyframes upDownAniMo {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 1rem;
  }
}

@keyframes circleSizeAni {
  0% {
    top: -23.396424816vw;
    width: 100vw;
    height: 100vw;
  }

  100% {
    top: 0;
    width: 73.568vw;
    height: 73.568vw;
  }
}

// 공통 ---------------------------------
// top_box
.top_box {
  h3 {
    -webkit-text-stroke: 2px var(--black);
    letter-spacing: unset;
  }

  p {
    font-size: var(--fs-24);
  }
  span {
    font-size: var(--fs-14);
  }
}

// scroll_box
.scroll_box {
  gap: 3rem;
  height: 100%;
  overflow: hidden;

  & > div {
    width: 25rem;
    flex-wrap: wrap;
    gap: 3rem;

    & > div,
    & > span {
      width: 100%;
    }

    & > span {
      display: block;
      border-radius: var(--br-50);
      border: 1px solid #333;
      aspect-ratio: 1 / 1.5;
    }
    & > div {
      aspect-ratio: 1 / 1;
    }

    // up
    &.scroll_up {
      align-self: flex-start;
    }

    // down
    &.scroll_down {
      align-self: flex-end;
    }
  }
}

// 메인 ---------------------------------
.main_visual_section {
  height: 100vh;

  .main_visual_box {
    width: 100%;
    height: calc(100vh - 10rem);
    background-color: var(--main-gray-1);
    position: relative;

    & > span {
      display: inline-block;
      position: absolute;

      &:first-of-type {
        width: 130vh;
        height: 130vh;
        border: 3px solid var(--main-blue-1);
        border-radius: var(--br-50pro);
        left: -35%;
        top: -70%;
      }

      &:nth-of-type(2) {
        width: 30vh;
        height: 60vh;
        background-color: var(--sub-pink-1);
        border-radius: 70rem 0 0 70rem;
        right: 0;
        top: 0;
      }
      &:nth-of-type(3) {
        width: calc(40vh - 10rem);
        height: calc(40vh - 10rem);
        border: 3px solid var(--main-green-1);
        border-radius: 0 0 0 50rem;
        right: -0.3rem;
        bottom: 0;
      }

      // &:last-of-type {
      //   width: 60vh;
      //   height: 30vh;
      //   background-color: var(--sub-pink-1);
      //   border-radius: 0 0 50rem 50rem;
      //   right: 30vh;
      //   top: 30vh;
      // }
    }

    .main_visual {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 3;

      .top_box {
        margin: 0;

        .img_profile {
          width: 30rem;
          margin: 0 auto;
          aspect-ratio: 1 / 1;
          border-radius: var(--br-50pro);
          overflow: hidden;
          background-color: var(--white);
          margin-bottom: 3rem;

          img {
            width: 83%;
            margin: 0 auto;
            height: auto;
          }
        }

        h3 {
          -webkit-text-stroke: 0;
        }
      }
    }
  }

  .btn_go_content {
    margin: 0 auto;
    @include aniSetting(upDownAni);

    svg {
      font-size: var(--fs-36);
      color: var(--blakc);
    }
  }
}

// introduce_section ---------------------------------
.introduce_section {
  position: relative;

  // bg
  // .bg_circle,
  // .bg_triangle {
  //   position: absolute;
  //   z-index: -1;
  // }

  // .bg_circle {
  //   width: 50rem;
  //   height: 50rem;
  //   flex-wrap: wrap;
  //   left: -37rem;
  //   top: -40rem;

  //   span {
  //     display: block;
  //     width: calc(100% / 2);
  //     height: calc(100% / 2);
  //     border-radius: var(--br-50pro);
  //     background-color: var(--main-green-1);
  //   }
  // }

  // .bg_triangle {
  //   width: 50rem;
  //   height: 40rem;
  //   clip-path: polygon(100% 0, 0 100%, 100% 100%);
  //   background-color: var(--sub-pink-1);
  //   right: 0;
  //   bottom: 0;
  // }

  // skill
  .skill_box {
    padding: 10rem 5rem;
    background-color: var(--main-gray-1);
    border-radius: 30rem;
    flex-wrap: wrap;
    gap: 5rem;
    position: relative;

    // & > div:not(.bg_circle) {
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 3rem;

    //   span {
    //     display: inline-block;
    //     width: auto;
    //     height: 5rem;

    //     img {
    //       width: fit-content;
    //       height: 100%;
    //     }
    //   }
    // }

    & > div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      p {
        width: auto;
        height: 5rem;
        gap: 1rem;

        img {
          width: fit-content;
          height: 100%;
        }

        span {
          font-size: var(--fs-24);
        }
      }
    }
  }
}

// career_section ---------------------------------
.career_section {
  width: 100%;

  .career_box {
    gap: 5rem;
    flex-wrap: wrap;

    .career_slides {
      width: calc(100vw / 5);
      aspect-ratio: 1 / 1;
      background-color: var(--gray-2);
      border-radius: var(--br-10);
      position: relative;
      overflow: hidden;

      &.polygon {
        // https://bennettfeely.com/clippy/
        border-radius: var(--br-5);
        clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
      }
      &.polygon.circle,
      &.circle {
        border-radius: var(--br-50pro);
        clip-path: unset;
      }

      // career_rolling_hover_card
      .career_rolling_hover_card {
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        background-color: var(--sub-yellow-1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.5s;

        &.red {
          background-color: var(--main-orange-1);
          color: var(--white);
        }

        &.red.blue,
        &.blue {
          background-color: var(--main-blue-1);
        }

        &.blue.black,
        &.red.black,
        &.red.blue.black,
        &.black {
          background-color: var(--black);
          color: var(--white);
        }

        span {
          display: inline-block;
          font-size: var(--fs-14);

          &:first-of-type {
            border: 1px solid var(--white);
            border-radius: var(--br-50);
            padding: 0.5rem 2rem;
          }
        }

        p {
          width: 100%;
          text-align: center;
          font-size: var(--fs-20);
        }
      }

      // hover
      &:hover {
        .career_rolling_hover_card {
          opacity: 1;
        }
      }
    }
  }
}

// project ---------------------------------
.project_wiko_section,
.project_2_section,
.project_3_section {
  height: 100vh;

  .wrap {
    height: 100%;

    .top_box {
      margin: unset;
      text-align: unset;

      button {
        margin: unset;
      }
    }
  }
}

// project_wiko_section ---------------------------------
.project_wiko_section {
  background-color: var(--main-green-1);

  .wrap {
    .scroll_box {
      .scroll_down {
        & > div {
          align-items: flex-end;
          & > span {
            width: 25%;

            &:first-of-type {
              height: 30%;
              background-color: #ffe1a556;
            }

            &:nth-of-type(2) {
              height: 60%;
              background-color: #ffbe3d96;
            }
            &:last-of-type {
              height: 100%;
              background-color: var(--sub-yellow-1);
            }
          }
        }
      }
    }
  }
}

// project_2_section ---------------------------------
.project_2_section {
  background-color: var(--sub-pink-1);
  .wrap {
    .top_box {
      text-align: right;
    }

    .scroll_box {
      .scroll_down {
        & > div {
          flex-wrap: wrap;

          & > span {
            width: 100%;
            aspect-ratio: 1 / 0.5;
            border-radius: 15rem 15rem 0 0;

            &:first-of-type {
              background-color: var(--main-blue-1);
            }
            &:last-of-type {
              background-color: var(--sub-blue-1);
            }
          }
        }
      }
    }
  }
}

// project_3_section ---------------------------------
.project_3_section {
  background-color: var(--main-blue-1);

  .wrap {
    .scroll_box {
      .scroll_down {
        & > div {
          flex-wrap: wrap;

          & > span {
            width: 50%;
            aspect-ratio: 1 / 1;
            border-radius: var(--br-50pro);
            background-color: var(--sub-pink-1);
          }
        }
      }
    }
  }
}

// support_section ---------------------------------
.support_section {
  height: 100vh;

  .support_box {
    height: calc(100% - 27rem);
    gap: 10rem;

    a {
      height: 100%;
      aspect-ratio: 1 / 1;
      background-color: var(--sub-purple-1);
      border-radius: var(--br-50pro);

      svg {
        display: inline-block;
        font-size: var(--fs-20);
        margin-left: 0.5rem;
        vertical-align: middle;
      }

      // hover
      &:hover {
        text-decoration: underline;
        color: var(--main-purple-1);
      }
    }
  }
}

// scroll_txt ---------------------------------
.scroll_txt_section {
  width: 100%;
  height: 15rem;
  position: relative;
  overflow: hidden;

  .scroll_txt {
    width: 900rem;
    color: var(--main-orange-1);
    font-size: 15rem;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    top: 0;
  }
}

// 테블릿 ---------------------------------
@media screen and (max-width: 1024px) {
}

// 모바일 ---------------------------------
@media screen and (max-width: 640px) {
  // 메인 ---------------------------------
  .main_visual_section {
    .main_visual_box {
      height: calc(100vh - 5rem);

      & > span {
        &:first-of-type {
          width: 100vh;
          height: 100vh;
        }

        &:nth-of-type(2) {
          width: 20vh;
          height: 40vh;
        }
        &:nth-of-type(3) {
          width: calc(30vh - 10rem);
          height: calc(30vh - 10rem);
        }

        // &:last-of-type {
        //   width: 40vh;
        //   height: 20vh;
        // }
      }

      .main_visual {
        .top_box {
          .img_profile {
            max-width: 90%;
            width: 50vh;
          }
        }
      }
    }

    .btn_go_content {
      margin: 0 auto;
      @include aniSetting(upDownAniMo);

      svg {
        font-size: var(--fs-24);
        color: var(--blakc);
      }
    }
  }

  // 공통 ---------------------------------
  // scroll_box
  .scroll_box {
    height: calc(100% - 17rem);
    gap: 2rem;

    & > div {
      width: 25rem;
      gap: 1rem;

      & > span {
        display: block;
        border-radius: var(--br-15);
      }
    }
  }

  // introduce_section ---------------------------------
  .introduce_section {
    // bg
    // .bg_circle {
    //   width: 30rem;
    //   height: 30rem;
    //   left: -10rem;
    //   top: -25rem;
    // }

    // .bg_triangle {
    //   width: 20rem;
    //   height: 15rem;
    // }

    // skill
    .skill_box {
      padding: 3rem 1rem;
      border-radius: var(--br-15);
      gap: 1.5rem;

      // & > div:not(.bg_circle) {
      //   width: 100%;
      //   gap: 1rem;
      //   flex-wrap: wrap;

      //   span {
      //     height: 3rem;
      //   }
      // }

      & > div {
        width: 100%;
        gap: 1.5rem;
        flex-wrap: wrap;

        p {
          height: 3rem;

          span {
            font-size: var(--fs-16);
          }
        }
      }
    }
  }

  // career_section ---------------------------------
  .career_section {
    .career_box {
      gap: 2rem;

      .career_slides {
        width: calc(100vw / 2.5);

        // career_rolling_hover_card
        .career_rolling_hover_card {
          p {
            font-size: var(--fs-16);
          }
        }
      }
    }
  }

  // project ---------------------------------
  .project_wiko_section,
  .project_2_section,
  .project_3_section {
    padding-bottom: 3rem;

    .wrap {
      flex-wrap: wrap-reverse;
      align-content: space-between;

      .top_box {
        width: 100%;
        text-align: center;

        p {
          font-size: var(--fs-20);
        }

        button {
          margin: 0 auto;
        }
      }
    }
  }

  // project_2_section ---------------------------------
  .project_2_section {
    .wrap {
      flex-wrap: wrap;
    }
  }

  // support_section ---------------------------------
  .support_section {
    height: auto;

    .support_box {
      width: 100%;
      height: auto;
      gap: 1rem;

      a {
        width: 50%;
        height: auto;
        aspect-ratio: 1 / 2;
        border-radius: 0 50rem 50rem 0;

        &:last-of-type {
          border-radius: 50rem 0 0 50rem;
        }

        svg {
          font-size: var(--fs-18);
        }
      }
    }
  }

  // scroll_txt
  .scroll_txt_section {
    height: 7rem;

    .scroll_txt {
      width: 700rem;
      font-size: 7rem;
    }
  }
}
