// 메인
.main_visual {
  width: 100%;
  height: 100vh;
  background-color: var(--main-blue-1);

  .slide_1,
  .slide_2,
  .slide_3 {
    width: 100vw;
    height: 80vh;
    font-size: var(--fs-40);
  }
  .slide_1 {
    background-color: var(--sub-orange-1);
  }
  .slide_2 {
    background-color: var(--main-blue-1);
  }
  .slide_3 {
    background-color: var(--main-green-1);
  }
}
