.dialog_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.dialog {
  // min-height: 50rem;
  background-color: var(--white);
  border-radius: var(--br-10) 30rem var(--br-10) var(--br-10);
  box-shadow: var(--shadow-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;

  .btn_dialog_close {
    margin-left: auto;
    font-size: var(--fs-60);
    padding: 0 !important;
  }

  .title {
    width: 80%;
    padding: 2rem;
    font-size: var(--fs-24);
    font-weight: bold;
    margin-top: -5rem;
  }

  .cont {
    width: 100%;
    padding: 3rem 5rem;
  }
}
